There was a report on <%= @report.reportable_type %> #<%= @report.reportable_id %> object by <%= @report.user.username %>
=========================================================================================================================
<%= @report.description %>