<span>There was a report on 
		<strong><%= @report.reportable_type %> #<%= @report.reportable_id %></strong> object by 
		<strong><%= @report.user.username %></strong>
</span>
<strong>
	<span>"<%= @report.description %>"</span>
</strong>